:root {
    --orange: #f78536;
    --light: #dfebed;
    --green: #497285;
    --dark: #2b4450;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* color: white; */
}

body {
    display: flex;
    height: 100vh;
    /* background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet); */
    background-color: var(--light);
}

header {
    flex-basis: 50%;
    display: grid;
    place-items: center;
    
    
}

main {
    /* flex-basis: 50%; */
    
}

main .about-me {
    padding: 5px;
}

main .about-me p {
    margin: 5px;
    padding: 5px;
}
main .skills-container{
    display: flex;
}
main .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

main .projects-container .card {
    margin: 5px;
    width: 300px;
    /* padding: 5px; */
    border-radius: 10px;
    color: var(--light);
    background-color: #2b4450;
    padding: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin: 20px;
}
main .projects-container .card:hover{
    scale: 1.10;
}
main .projects-container .card .card-footer{
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}
main .projects-container .card .card-footer span{
    padding: 5px 10px;
    background-color: var(--orange);
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px 15px var(--orange);
    font-weight: 700;
}
main .skills-container{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
main .skills-container .skill{
    /* border: 1px solid black; */
    /* padding: 5px; */
    margin: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 55px var(--dark);
    border-radius: 10px;
    cursor: default;
    
}
main .skills-container .skill:hover .description{
    transform: translate(-100%, -100%);
}
main .skills-container .skill .img{
    height: 300px;
    width: 300px;
    /* background-image: url(../media/me.JPG); */
    background-position: center;
    background-size: cover;
}
main .skills-container .skill .description{
    /* border: 1px solid black; */
    position: absolute;
    top: 100%;
    left: 100%;
    transition: .2s ease-in-out;
    color: var(--light);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    padding: 10px;    
}
